button{
    color: $cBlue;
    font-size: $nomalFont;
    width:237.53px;
    height:57.93px
    font-style: bold;
    font-size:18px
    border: 1.4px solid #458FF6;
    box-sizing: border-box;
    border-radius: 55px;
}