@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;600&display=swap');
@import "./slider-section/slider-icon";
@import "./slider-section/flexLayout";
@import "./slider-section/arrows";

$nomalFont: 'Mulish', sans-serif;
$cBlue: #458ff6;
$cLightBlue: #67c3f3;
$cWhite: white;

*{
  font-family: $nomalFont;
}

.slider-section{
  height: 100%;
  padding: 10px;
  
}

.slider-wrap{
  background-image: linear-gradient(to bottom, $cLightBlue, $cBlue);
  width: 70%;
  height: 25rem;
  margin: 0 auto;
  border-radius: 1.5rem;
  color: $cWhite;
  overflow: hidden;

  & .slider-header{
    margin: 3.5rem;

    & .title{
    text-align: center;
    font-size: 2rem;
    }

    & .divided-line{
    width: 8%;
    height: 2px;
    background-color: $cWhite;
    margin: 0 auto;
    }
  }
  
}

.slider{
  display: grid;
  grid-template-columns: 100% 100% 100% 100%;
}

.slider-contents{
  @extend .flex;
  width: 100%;
  transition: all 1s ease;

  & .profile{
      flex: 1;
      @extend .flex;
      gap: 20px;

    &-photo{
      @extend .icon-wrapper;
      

      & img{
        @extend .icon;
      }
    }

    &-details{
      @extend .flex;
      gap: 5px;
      flex-direction: column;

      & .name{
        font-weight: bold;
        font-size: 1.2rem;
      }
    }
  }

  & .comments{
    flex: 1;
    @extend .flex;
    flex-direction: column;
    
    & p{
      width: 75%;
      line-height: 1.5rem;
    }
  }
}

.slider-button{
  margin: 30px;
  @extend .flex;
  gap: 50px;
  align-items: center;

  & .left-arrow{
    @extend .arrow;
    cursor: pointer;
  }

  & .dots{
    @extend .flex;
    gap: 10px;

    & .dot{
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      background-color: rgb(189, 221, 230);
    }

    & .active{
      background-color: black;
    }
  }

  & .right-arrow{
    @extend .arrow;
    transform: rotate(180deg);
    cursor: pointer;
  }
}





