@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap');

$nomalFont: 'Mulish', sans-serif;
$cBlue: #458ff6;
$cLightBlue: #67c3f3;
$cWhite: white;

$desktop: 1024px;
$tablet: 768px;
$mobile: 425px;

@mixin pc {
  @media (min-width: ($desktop)) {
    @content;
  }
}

@mixin tb {
  @media (min-width: ($tablet)) {
    @content;
  }
}

@mixin mb {
  @media (min-width: ($mobile)) {
    @content;
  }
}

*,
*::after,
*::before {
  font-family: $nomalFont;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
}

.title {
  font-size: 3.6rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
}

.btn {
  font-size: 1.8rem;
  font-weight: 700;
  color: $cBlue;
  border: $cBlue 1px solid;
  border-radius: 20px;
  padding: 1rem 5rem;
  background-color: #ffffff;
}

.readmore {
  font-size: 1.7rem;
  font-weight: 300;
  color: $cBlue;
}
