$nomalFont: 'Mulish', sans-serif;
$cBlue: #458ff6;
$cLightBlue: #67c3f3;
$cWhite: white;

$desktop: 1024px;
$tablet: 768px;
$mobile: 425px;

@mixin pc {
    @media (min-width: ($desktop)) {
      @content;
    }
  }
  
  @mixin tb {
    @media (min-width: ($tablet)) {
      @content;
    }
  }
  
  @mixin mb {
    @media (min-width: ($mobile)) {
      @content;
    }
  }

  h3{
    font-family: $nomalFont
    font-style: Bold
    font-size: 36px
    Line-height: 56px
    Line-height: 124%
    Align: Left
    Vertical-align: Top
    color: #000000
  }

  hr{
    position: absolute;
    width: 70.35px;
    height: 1.93px;
    left: 802.08px;
    top: 916.18px;
    background: #000000;
    border-radius: 5px;
  }

  p{
    position: absolute;
    left: 14.88%;
    right: 10.38%;
    top: 15.98%;
    bottom: 82.83%;
    font-family: $nomalFont;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
   
 text-align: center;
    color: #7D7987;
    mix-blend-mode: normal;

  }