%boxSet{
width: 407.85px;
height: 335.2px;
display: flex;
justify-content: center;
background-color: white;
}

.middle{
Width :1978px;
Height:1107px;

img{
    width: 100%;
}

}

.middle ul{
 @extend
}