
.middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;

    @include tb{
        flex-wrap: wrap;
        flex-direction: row;
        gap: 4rem;
        margin: 10rem 0;
    }
}

.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 29rem;
    height: 20rem;
    border-radius: 1.3rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    background-color: $cWhite;

    &-details{
        display: grid;
        grid-template-rows: 2fr 1fr 1fr;
        align-items: center;
        padding: 2rem;
    }

    &-img{
        width: 50px;
        margin: 0 auto;

        & img{
            width: 50px;
        }
    }

    &-title{
        font-size: 2rem;
        text-align: center;
    }

    &-subtitle{
        text-align: center;
        font-size: 1.2rem;
        color: gray;
    }

}
